{{> inputs/input id='title-input' label='Titulo' type='text' name='title' placeholder='Ingrese un titulo' value=title}}

{{> inputs/input id='description-input' label='Descripcion' type='text' name='description' placeholder='Ingrese una descripcion' value=description}}

<div>
    <label for="inputs-container">Dias:</label>
    <div class="flex flex-wrap gap-4 sm:gap-1 days-container [&>div>input]:relative [&>div>input]:after:left-[1.5px] [&>div>input]:after:top-[-3.5px] [&>div]:flex [&>div]:items-center [&>div]:gap-2 sm:[&>div]:w-[32%] sm:[&>div]:text-sm" id="inputs-container">
        {{#if days}}
            <div>
                <input type="checkbox" class="input-check" value="Lunes" name="days" {{#if (checkDays days 'Lunes' )}}
                    checked {{/if}}>
                <span>Lunes</span>
            </div>
            <div>
                <input type="checkbox" class="input-check" value="Martes" name="days" {{#if (checkDays days 'Martes' )}}
                    checked {{/if}}>
                <span>Martes</span>
            </div>
            <div>
                <input type="checkbox" class="input-check" value="Miercoles" name="days" {{#if (checkDays
                    days 'Miercoles' )}} checked {{/if}}>
                <span>Miercoles</span>
            </div>
            <div>
                <input type="checkbox" class="input-check" value="Jueves" name="days" {{#if (checkDays days 'Jueves' )}}
                    checked {{/if}}>
                <span>Jueves</span>
            </div>
            <div>
                <input type="checkbox" class="input-check" value="Viernes" name="days" {{#if (checkDays days 'Viernes'
                    )}} checked {{/if}}>
                <span>Viernes</span>
            </div>
            <div>
                <input type="checkbox" class="input-check" value="Sabado" name="days" {{#if (checkDays days 'Sabado' )}}
                    checked {{/if}}>
                <span>Sabado</span>
            </div>
            <div>
                <input type="checkbox" class="input-check" value="Domingo" name="days" {{#if (checkDays days 'Domingo'
                    )}} checked {{/if}}>
                <span>Domingo</span>
            </div>
        {{else}}
            <div>
                <input type="checkbox" class="input-check" value="Lunes" name="days">
                <span>Lunes</span>
            </div>
            <div>
                <input type="checkbox" class="input-check" value="Martes" name="days">
                <span>Martes</span>
            </div>
            <div>
                <input type="checkbox" class="input-check" value="Miercoles" name="days">
                <span>Miercoles</span>
            </div>
            <div>
                <input type="checkbox" class="input-check" value="Jueves" name="days">
                <span>Jueves</span>
            </div>
            <div>
                <input type="checkbox" class="input-check" value="Viernes" name="days">
                <span>Viernes</span>
            </div>
            <div>
                <input type="checkbox" class="input-check" value="Sabado" name="days">
                <span>Sabado</span>
            </div>
            <div>
                <input type="checkbox" class="input-check" value="Domingo" name="days">
                <span>Domingo</span>
            </div>
        {{/if}}
    </div>
</div>

{{> inputs/input id='time-input' label='Hora' type='time' name='time_to_do' value=time_to_do}}

<div class="input">
    <label for="category-select">Categoria:</label>
    <select name="category" id="category-select" class="border-none">
        <option hidden>Seleccione</option>
        <option {{#if (compare this.category 'Academica' )}} selected {{/if}} value="Academica">Academica</option>
        <option {{#if (compare this.category 'Salud' )}} selected {{/if}} value="Salud">Salud</option>
        <option {{#if (compare this.category 'Practica' )}} selected {{/if}} value="Practica">Practica</option>
        <option {{#if (compare this.category 'Laboral' )}} selected {{/if}} value="Laboral">Laboral</option>
    </select>
</div>
