<header class="grid grid-cols-3 col-span-2 text-white px-4" id="main-header">
    {{#if user}}
        <div class="flex items-center">
            {{#> buttons/button_link url='/dashboard' class='px-2 py-1'}}
                <svg width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                    <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                    <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                </svg>
            {{/buttons/button_link}}
        </div>
    {{else}}
        <div class="flex items-center">
            {{#> buttons/button_link url='/' class='px-4 py-1'}}
                <svg width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M5 12l14 0"></path>
                    <path d="M5 12l4 4"></path>
                    <path d="M5 12l4 -4"></path>
                </svg>
            {{/buttons/button_link}}
        </div>
    {{/if}}
    {{#if user}}
        <div class="flex items-center justify-center">
            {{#if searchTasks}}
                {{> tasks/searchTaskInput}}
            {{/if}}
            {{#if searchHabits}}
                {{> habits/searchHabitInput}}
            {{/if}}
        </div>
    {{else}}
        <h1 class="text-4xl flex items-center justify-center font-medium">TasksApp</h1>
    {{/if}}
    {{#if user}}
        <div class="flex items-center justify-end">
            {{#> buttons/button id='menu-icon' class='px-2 py-1'}}
                <svg width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 6l16 0"></path>
                    <path d="M4 12l16 0"></path>
                    <path d="M4 18l16 0"></path>
                </svg>
            {{/buttons/button}}
        </div>
    {{/if}}
</header>
