<div class="h-full flex flex-col">
    <div class="grid grid-cols-3">
        <div class="flex items-center gap-4">
            <form action="/habits/list" 
                  method="get"
                  class="w-2/4"
                  id="order-form">
                <select
                    id="order-container"
                    name="order"
                >
                    <option selected hidden>Ordenar</option>
                    {{#if (compare orderText "title ASC")}}
                        <option selected value="title ASC">Titulo (A-Z)</option>
                    {{else}}
                        <option value="title ASC">Titulo (A-Z)</option>
                    {{/if}}

                    {{#if (compare orderText "title DESC")}}
                        <option selected value="title DESC">Titulo (Z-A)</option>
                    {{else}}
                        <option value="title DESC">Titulo (Z-A)</option>
                    {{/if}}

                    {{#if (compare orderText "time_to_do ASC")}}
                        <option selected value="time_to_do ASC">Hora
                            (Ascendente)</option>
                    {{else}}
                        <option value="time_to_do ASC">Hora (Ascendente)</option>
                    {{/if}}

                    {{#if (compare orderText "time_to_do DESC")}}
                        <option selected value="time_to_do DESC">Hora
                            (Descendiente)</option>
                    {{else}}
                        <option value="time_to_do DESC">Hora (Descendiente)</option>
                    {{/if}}

                </select>
            </form>
        </div>
        <p class="text-2xl font-bold flex items-center justify-center">Habitos</p>
        <div class="flex justify-end">
            {{#> buttons/button_link url='/habits/add' content='Agregar Habito' class='flex py-2 px-4 gap-2 items-center'}}
                <svg width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 5l0 14"></path>
                    <path d="M5 12l14 0"></path>
                </svg>
            {{/buttons/button_link}}
        </div>
    </div>
    {{> habits/listHabits}}
</div>
