<div class="h-full flex flex-col items-center gap-4">
    {{#if habitsFounded}}
        <h1 class="text-2xl font-bold">Habitos Encontrados</h1>
        <table class="border border-[#c5bde5] rounded-md block divide-y-2 overflow-hidden">
            <thead class="text-gray-400">
                <tr class="divide-x-2 divide-[#c5bde5] [&>td]:text-center [&>td]:px-20 [&>td]:py-2">
                    <td>Titulo</td>
                    <td>Categoria</td>
                    <td>Hora</td>
                </tr>
            </thead>
            <tbody>
                {{#each habitsFounded}}
                    <tr class="[&>td]:px-4 [&>td]:py-2 divide-x-2 divide-[#c5bde5] odd:bg-[#13234e] even:bg-[#263997]">
                        <td>
                            <p>{{this.title}}</p>
                        </td>
                        <td>
                            <p>{{this.category}}</p>
                        </td>
                        <td>
                            <p>{{this.time_to_do}}</p>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <h1 class="text-2xl font-bold">No se encontro ningun habito</h1>
        {{> habits/searchHabitInput}}
    {{/if}}
</div>
