<div class="addHabit container">
    <form action="/habitsUpdate" method="get" class="add-form">
        <input type="hidden" name="id" value="{{habit.id}}">
        {{> habitsInputs title=habit.title description=habit.description days=habit.days time_to_do=habit.time_to_do category=habit.category}}
        <input type="submit" value="Actualizar" class="save input">
    </form>
</div>
