<div class="container">
    <h1 class="container-title">Agregar Tarea</h1>
    <form class="add-form" action="/tasksAdd" method="post">
        {{> taskInputs}} 
        <input class="button input" type="submit" value="Guardar" />
    </form>
</div>
