<div class="addtask container">
    <h1 class="container-title">Agregar Tarea</h1>
    <form class="add-form" action="/tasksAdd" method="post">
        {{> taskInputs}} 
        {{> buttons/button_submit content='Guardar'}}
    </form>
</div>
