<div class="addtask container">
    <form class="addtask-form" action="/tasksAdd" method="post">
        {{> taskInputs}} 
        <input class="save input" type="submit" value="Guardar" />
    </form>
</div>
