<div class="h-full flex flex-col items-center justify-around">
    <h1 class="text-2xl font-bold">Agregar Tarea</h1>
    <form class="space-y-4 w-2/5" action="/tasksAdd" method="post">
        {{> tasks/taskInputs}} 
        {{> buttons/button_submit content='Guardar' class='py-2'}}
    </form>
</div>
