<div class="addtask container">
    <form action="/tasksUpdate" class="addtask-form" method="get">
        <input type="hidden" name="id" value="{{tasks.id}}">
        {{> taskInputs title=tasks.title description=tasks.description created_at=tasks.created_at finish_at=tasks.finish_at
                       category=tasks.category}}
        <input class="save input" type="submit" value="Actualizar" />
    </form>
</div>
