<div class="h-full flex flex-col justify-center items-center gap-20">
    <div class="text-2xl">Ingresar</div>
    <div class="w-1/3">
        <form action="/signup" method="post" class="space-y-8">
            {{> signin_loggin/signInputs}}
            {{> buttons/button_submit content='Iniciar Sesión' id='submit-button'}}
        </form>
    </div>
</div>
