<div class="signin">
    <div class="sign-header">Registrarse</div>
    <div class="sign-body">
        <form action="/signin" method="post" class="signin-form">
            {{> signin_loggin/signInputs}}
            {{> buttons/button_submit content='Registrarse' id='submit-button'}}
        </form>
    </div>
</div>
