<div class="signin container">
    <h1>Registarse</h1>
    <form action="/signin" method="post" class="signin-form">
        {{> signInputs}}
        <input type="submit" value="Registrar" id="submit-button" class="save input">
    </form>
</div>
