<div class="signin">
    <div class="sign-header">Registrarse</div>
    <hr color="#555">
    <div class="sign-body">
        <form action="/signin" method="post" class="signin-form">
            {{> signInputs}}
            <input type="submit" value="Registrar" id="submit-button" class="button save">
        </form>
    </div>
</div>
