<div class="signin container">
    <h1>Ingresar</h1>
    <form action="/signup" method="post" class="signin-form">
        {{> signInputs}}
        <input type="submit" value="Iniciar Sesion" id="submit-button" class="save input">
    </form>
</div>
