<div class="signin">
    <div class="sign-header">Ingresar</div>
    <div class="sign-body">
    <form action="/signup" method="post" class="signin-form">
        {{> signin_loggin/signInputs}}
        {{> buttons/button_submit content='Iniciar Sesión' id='submit-button'}}
    </form>
    </div>
</div>
