<div class="index container">
    <div class="main-buttons-container">
        <button class="main-button">
            <a href="/tasks/list">Lista de Tareas</a>
        </button>
        <button class="main-button">
            <a href="/habits/list">Lista de Habitos</a>
        </button>
    </div>
</div>
