/* HABTIS LIST */
.habitslist {
    width: 100%;
    justify-content: start;
    align-items: flex-start;
}
.habit-container {
    border: 2px solid #999;
    padding: .5em 2em;
    color: #FFF;
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    border-radius: .5em;
}
.days-container {
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: .5em;
    margin: 20px 0;
    font-size: .7em;
}
.day {
    border: 2px solid #000;
    border-radius: 10px;
    padding: .5em;
}
.day {
    cursor: pointer;
}



/* ******************************************************************************************** */
/* ******************************************************************************************** */



/* ADDHABIT */
.selected {
    border-color: #090;
    background-color: #090;
}
.day {
    background-color: transparent;
    color: #FFF;
}
label {
    color: #FFF;
}
