/* HABTIS LIST */
.habitslist {
    width: 100%;
    flex-direction: column;
    justify-content: start;
    gap: 2em;
}
.habit-container {
    cursor: pointer;
    border: 2px solid #999;
    position: relative;
    padding: 0.5em;
    color: #fff;
    display: flex;
    width: 300px;
    gap: 0.5em;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5em;
    box-shadow: 0 10px 20px #000;
}
.days-container {
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 0.5em;
    margin: 20px 0;
    font-size: 0.7em;
}
.day {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 0.5em;
    cursor: pointer;
}
.day:focus {
    outline: none;
}
.no-habits {
    color: #bbb;
}
.habit-title {
    text-align: center;
    font-size: 1.5em;
}
.days-expand {
    display: none;
}
.habit-today {
    border-color: #00F;
    box-shadow: 0 10px 20px #229;
}

/* ******************************************************************************************** */
/* ******************************************************************************************** */

/* ADDHABIT */
.selected {
    border-color: #090;
    background-color: #090;
}
.day {
    background-color: transparent;
    color: #fff;
}
label {
    color: #fff;
}
.selected {
    background-color: #090;
    border-color: transparent;
}

/* ******************************************************************************************** */
/* ******************************************************************************************** */

/* DETAILS HABITS */
.habitsDetails {
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: 15% 10% 35% 40%;
    box-shadow: 0px 20px 30px #000;
    color: #fff;
}
.detail-title-container {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100%;
    padding: 1em;
    font-size: 1.5em;
    border: 2px solid #777;
    border-radius: 0.3em 0 0 0;
    border-right: none;
    border-bottom: none;
    display: flex;
    align-items: center;
}
.detail-description-container {
    grid-row: 3/4;
    grid-column: 1/3;
    height: 100%;
    font-size: 1.2em;
    padding: 2em;
    border: 2px solid #777;
    border-top: none;
}
.detail-time-container {
    grid-row: 1/2;
    grid-column: 2/3;
    height: 100%;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #777;
    border-radius: 0 0.5em 0 0;
    border-bottom: none;
    align-items: center;
}
.detail-time-title {
    font-size: 0.8em;
    color: #888;
}
.detail-category-container {
    grid-row: 2/3;
    grid-column: 1/3;
    height: 100%;
    font-size: 1.5em;
    padding: 0 1em;
    border: 2px solid #777;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detail-category-title {
    color: #888;
    font-size: 0.7em;
}
.detail-days-container {
    grid-row: 4/5;
    grid-column: 1/3;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #777;
    border-top: none;
    border-radius: 0 0 0.5em 0.5em;
}
.detail-days-container .day {
    font-size: 2em;
    padding: 1.5em;
}
