* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

:root {
    --mainColor1: #13234e;
    --mainColor2: #263997;
    --mainColor3: #5760c7;
    --mainColor4: #c5bde5;
    --mainBackground: linear-gradient(to right bottom, var(--mainColor1),var(--mainColor2),var(--mainColor3));
}
body {
    background-image: var(--mainBackground);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: 10% 90%;
    padding: 1.5em;
}
@media screen and (max-width: 600px) {
    body {
        grid-template-columns: 100%;
    }
}
.main-header {
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    grid-row: 1;
    grid-column: 1 / span 2;
}
.main-header > .button {
    border-radius: 10px;
}
.main-header > .button > a {
    color: var(--mainColor4);
    padding: 5px 15px;
    display: block;
}
.button:hover,
.button:hover > a,
.button:hover > .menu-icon {
    color: #000;
}
.button i {
    fill: currentColor;
}
.main-header > .title {
    color: #FFF;
    font-size: 3em;
    text-shadow: 0px 0px 30px #000;
    grid-row: 1;
    width: 23%;
}
@media screen and (max-width: 600px) {
    .main-header {
        grid-row: 1;
        grid-column: 1;
    }
    .main-header > p {
        width: 12%;
    }
    .main-header > .title {
        font-size: 1.5em;
        width: fit-content;
    }
    .main-header > .button > a {
        padding-inline: 5px;
    }
}
.main-container {
    border-radius: .5em;
    display: flex;
    box-shadow: 0px 20px 40px #000;
    align-items: center;
    justify-content: space-around;
    background-color: #0009;
    padding: 2em;
    width: 95%;
    position: relative;
    overflow: hidden;
    height: 100%;
    gap: 3em;
    margin: auto;
    grid-column: 1 / span 2;
    grid-row: 2;
}
@media screen and (max-width: 600px) {
    .main-container {
        padding: 1em;
        grid-row: 2;
        grid-column: 1;
    }
}
.main-container > .container {
    width: 100%;
    height: 100%;
    color: #FFF;
}
.main-button {
    font-size: 1.3em;
    border: 2px solid var(--mainColor4);
    background-color: transparent;
    border-radius: 12px;
    transition: background-color .25s ease;
    cursor: pointer;
}
.main-button:hover {
    background-color: var(--mainColor4);
}
.main-button > a {
    text-decoration: none;
    color: var(--mainColor4);
    display: block;
    padding: 1em;
    transition: color .25s ease;
}
.main-button:hover > a {
    color: #000;
}
#main-blur-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    backdrop-filter: blur(0.3em);
    z-index: 16;
}
.message-container {
    margin: 0 auto;
    color: #fff;
    padding: 0.5em 1em;
    text-align: center;
    width: fit-content;
    border-radius: 0.3em;
    display: flex;
    position: absolute;
    align-items: center;
    align-self: center;
    gap: 10px;
}
.message-button {
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 1.3em;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .container {
        justify-content: start;
    }
}
.button {
    border: 2px solid var(--mainColor4);
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: background-color .25s ease;
    outline: none;
}
.button:focus-visible {
    outline: none;
}
.button * {
    cursor: pointer;
}
.sidebar .button {
    padding: 0.5em;
}
.button:hover {
    background-color: var(--mainColor4);
}
.list-options-container {
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
}
.option-button {
    background-color: transparent;
    border: none;
    color: #fff;
}
.delete-button:hover {
    background-color: #a00;
    border-color: #a00;
}
.update-button:hover {
    background-color: #060;
    border-color: #060;
}
.detail-button:hover {
    background-color: var(--mainColor3);
    border-color: var(--mainColor3);
}
.update-button,
.delete-button,
.detail-button {
    padding: 0.5em;
}
.update-button > form,
.delete-button,
.detail-button > form {
    display: flex;
    gap: 5px;
    align-items: center;
}
.update-button .icon {
    transform: scale(0.6) rotate(-45deg);
}
.delete-button .icon {
    transform: scale(0.6);
}
.detail-button .icon {
    transform: scale(0.6);
}
.blur-container {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    backdrop-filter: blur(0.5em);
    display: none;
    z-index: 10;
}
.confirm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
    display: none;
    color: #fff;
    width: 14em;
    height: 7em;
    left: 50%;
    top: 50%;
}
.confirm-buttons-container {
    display: flex;
    gap: 5px;
}
.confirm-buttons-container .button {
    padding: 0.5em 1.5em;
}
.confirm-button-yes {
    font-size: 0.8em;
}
@media screen and (max-width: 600px) {
    .description {
        height: 40%;
    }
}
.category > option {
    background-color: #202020;
}
.add-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .7em;
    width: 50%;
    height: 80%;
}
@media screen and (max-width: 600px) {
    .add-form {
        height: 94%;
        gap: 0;
        justify-content: start;
    }
}
@media screen and (max-width: 600px) {
    .add-form > div {
        gap: .5em;
        flex-direction: column;
        justify-content: center;
        height: 90%;
    }
}
@media screen and (max-width: 600px) {
    .add-form .column {
        width: 100%;
        height: 30%;
        gap: .5em;
    }
}
.add-form label {
    color: #fff;
}
@media screen and (max-width: 600px) {
    .add-form .finished,
    .add-form .time {
        width: 100%;
    }
}
.add-button-container {
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: right;
    border-radius: 0.5em;
}
@media screen and (max-width: 600px) {
    .add-button-container {
        width: 100%;
    }
}
.add-button {
    border-radius: 0.5em;
    font-size: 0.8em;
    height: 100%;
    width: 200px;
    align-self: center;
    box-shadow: 0 5px 10px #000;
}
@media screen and (max-width: 600px) {
    .add-button {
        width: 100%;
        height: 3em;
    }
    .add-button .icon {
        transform: scale(-0.9);
    }
}
.add-button > a {
    display: flex;
    height: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    font-size: 1.1em;
}
.list-container {
    width: 100%;
    display: flex;
    gap: 2em;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 1em;
    height: 100%;
    overflow: auto;
    padding: 0.5em;
}
.list-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2em;
}
@media screen and (max-width: 600px) {
    .list-title-container {
        flex-direction: column;
        gap: 2em;
    }
}
.select-form-container {
    display: flex;
    gap: 1em;
}
@media screen and (max-width: 600px) {
    .select-form-container {
        align-self: center;
    }
}
.select-form > select {
    width: 200px;
    background-color: transparent;
    color: #fff;
    padding: 0.5em 1em;
}
@media screen and (max-width: 600px) {
    .select-form > select {
        width: 150px;
    }
}
.select-form > select:focus {
    outline: none;
}
.select-form > select > option {
    background-color: #202020;
}
.list-title {
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}
@media screen and (max-width: 600px) {
    .list-title {
        order: -1;
    }
}
.expand-icon {
    position: absolute;
    left: 90%;
    top: 0;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2em;
}
.category-expand {
    display: none;
}
.options-expand {
    display: none;
}

/* ******************************************************************************************** */
/* ******************************************************************************************** */

/* NAV */
a {
    text-decoration: none;
    color: inherit;
}
.main-header > .menu-container .link,
.main-header > .menu-container .menu-icon {
    padding: .7em;
}
.main-header > .menu-container {
    height: 2em;
}
.main-header .menu-icon {
    cursor: pointer;
    padding: 0.8em;
    background-color: transparent;
    border-radius: 7px;
    border: none;
    font-size: 1em;
    color: #fff;
    transition: background-color 300ms ease-out;
}
.main-header .home-container .link {
    display: block;
    padding: 0.6em;
    background-color: transparent;
    transition: background-color 300ms ease-out;
}

/* ******************************************************************************************** */
/* ******************************************************************************************** */

/* SIDEBAR */
.sidebar li {
    color: #fff;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .sidebar li {
        flex-direction: row;
        gap: 2em;
    }
}
.sidebar ul {
    height: 100%;
    width: 100%;
    display: flex;
    gap: .5em;
    align-items: center;
    flex-direction: column;
}
.sidebar .logout {
    margin-top: auto;
}
.sidebar .logout > a {
    padding: 0.5em;
    border: 3px solid #44f;
    border-radius: 0.5em;
}
.sidebar {
    background-color: #0009;
    box-shadow: 0px 20px 40px #000;
    grid-row: 2;
    grid-column: 2;
    padding: 2em 1.5em;
    flex-direction: column;
    gap: 1em;
    border-radius: .5em;
    display: none;
    z-index: 15;
}
@media screen and (max-width: 600px) {
    .sidebar {
        position: absolute;
        z-index: 20;
        top: 11%;
        width: 100%;
    }
}
.sidebar .link {
    transition: all 200ms;
    color: #999;
    padding: 0.5em;
}
.sidebar .link:hover {
    color: #fff;
}
.line-div {
    border: 1px solid #999;
    width: 100%;
}
.logout-confirm {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: transparent;
    border: 2px solid #fff;
    z-index: 20;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
    display: none;
    color: #fff;
    width: 16.5em;
    height: 7em;
    left: 50%;
    top: 50%;
}
@media screen and (max-width: 600px) {
    .logout-confirm {
        top: 85%;
    }
}

.sidebar .user-img-container {
    width: 4em;
    height: 4em;
}
.sidebar .user-img-container .user-img {
    object-fit: cover;
    width: 8em;
}
.sidebar .username-container {
    color: #fff;
    font-size: 1.5em;
    align-items: center;
}

/* ******************************************************************************************** */
/* ******************************************************************************************** */

/* DASHBOARD */
.user-img-section > .user-img-container {
    width: 4em;
    height: 4em;
}
.user-img-section > .user-img-container .user-img {
    object-fit: cover;
    width: 8em;
}
.user-img-section > .username-container {
    color: #fff;
    font-size: 1.5em;
}
.no-user-img-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #555;
}
.no-user-img-container > i {
    transform: scale(2);
}
.user-img-container {
    width: 6em;    
    height: 6em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.user-img-container > .user-img {
    object-fit: cover;
    width: 10em;
}

.user-img-container > form {
    display: flex;
    justify-content: center;
}

.user-img-container .no-user-img {
    display: none;
}

.no-user-img-label {
    color: #FFF;
    font-size: .7em;
    cursor: pointer;
    text-align: center;
}
