* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}
body {
    background-color: #404040;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 9fr;
}
@media screen and (max-width: 600px) {
    body {
        grid-template-rows: 10% 30% 60%;
        grid-template-columns: 100%;
    }
}
.main-container {
    grid-column: span 2;
    grid-row: span 2;
    position: relative;
    padding: 2em;
    flex-direction: column;
    display: flex;
    gap: 2em;
}
@media screen and (max-width: 600px) {
    .main-container {
        padding: 1em;
        grid-row: 2 / span 2;
        grid-column: 1;
    }
}
.main-title {
    color: #fff;
    font-size: 3em;
}
#main-blur-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    backdrop-filter: blur(0.5em);
    z-index: 16;
}
.message-container {
    margin: 0 auto;
    color: #fff;
    padding: 0.5em 1em;
    text-align: center;
    width: fit-content;
    border-radius: 0.3em;
    display: flex;
    position: absolute;
    align-items: center;
    align-self: center;
    gap: 10px;
}
.message-button {
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 1.3em;
    cursor: pointer;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
@media screen and (max-width: 600px) {
    .container {
        justify-content: start;
    }
}
.button {
    border: none;
    border-radius: 5px;
    background-color: #229;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 300ms;
    outline: none;
}
.button:focus-visible {
    outline: none;
}
.button * {
    cursor: pointer;
}
.sidebar .button {
    padding: 0.5em;
}
.button:hover {
    box-shadow: 0px 0px 15px #229;
}
.list-options-container {
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
}
.option-button {
    background-color: transparent;
    border: none;
    color: #fff;
}
.delete-button {
    background-color: #a00;
}
.delete-button:hover {
    box-shadow: 0px 0px 15px #a00;
}
.update-button {
    background-color: #060;
}
.update-button:hover {
    box-shadow: 0px 0px 15px #060;
}
.update-button,
.delete-button,
.detail-button {
    padding: 0.5em;
}
.update-button > form,
.delete-button,
.detail-button > form {
    display: flex;
    gap: 5px;
    align-items: center;
}
.update-button .icon {
    transform: scale(0.6) rotate(-45deg);
}
.delete-button .icon {
    transform: scale(0.6);
}
.detail-button .icon {
    transform: scale(0.6);
}
.blur-container {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    backdrop-filter: blur(0.5em);
    display: none;
    z-index: 10;
}
.confirm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
    display: none;
    color: #fff;
    width: 14em;
    height: 7em;
    left: 50%;
    top: 50%;
}
.confirm-buttons-container {
    display: flex;
    gap: 5px;
}
.confirm-buttons-container .button {
    padding: 0.5em 1.5em;
}

.input {
    background-color: transparent;
    padding: 1em;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    outline: none;
}
.confirm-button-no,
.confirm-button-yes {
    height: 2em;
    font-size: 0.8em;
}
.input:focus {
    box-shadow: 0px 0px 15px #44f;
    border-color: #44f;
}
.description {
    resize: none;
}
.category > option {
    background-color: #202020;
}
.save {
    background-color: #494;
    margin-top: auto;
    border: none;
    cursor: pointer;
}
.save:hover {
    box-shadow: 0px 0px 10px #494;
}
.add-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 70%;
    height: 80%;
}
.add-form > div {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    height: 100%;
}
.add-form .column {
    display: flex;
    width: 50%;
    gap: 1em;
    justify-content: center;
    flex-direction: column;
}
.add-form .days-container,
.add-form label {
    align-self: center;
}
.add-form label {
    color: #fff;
}
.save {
    background-color: #494;
    border: none;
    cursor: pointer;
}
.save:hover {
    box-shadow: 0px 0px 10px #494;
}
.add-button-container {
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: right;
    border-radius: .5em;
}
@media screen and (max-width: 600px) {
    .add-button-container {
        width: 100%;
    }
}
.add-button {
    border-radius: 0.5em;
    font-size: 0.8em;
    height: 100%;
    width: 200px;
    align-self: center;
    box-shadow: 0 5px 10px #000;
}
@media screen and (max-width: 600px) {
    .add-button {
        width: 100%;
        height: 3em;
    }
    .add-button .icon {
        transform: scale(-0.9);
    }
}
.add-button > a {
    display: flex;
    height: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    font-size: 1.1em;
}
.list-container {
    width: 100%;
    display: flex;
    gap: 2em;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 2px solid #999;
    border-radius: 1em;
    height: 100%;
    overflow: auto;
    padding: 0.5em;
}
.list-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
@media screen and (max-width: 600px) {
    .list-title-container {
        flex-direction: column;
        gap: 2em;
    }
}
.select-form-container {
    display: flex;
    gap: 1em;
}
@media screen and (max-width: 600px) {
    .select-form-container {
        align-self: center;
    }
}
.select-form > select {
    width: 200px;
    background-color: transparent;
    color: #fff;
    padding: 0.5em 1em;
}
@media screen and (max-width: 600px) {
    .select-form > select {
        width: 150px;
    }
}
.select-form > select:focus {
    outline: none;
}
.select-form > select > option {
    background-color: #202020;
}
.list-title {
    color: #fff;
    font-size: 2em;
    font-weight: bold;
}
@media screen and (max-width: 600px) {
    .list-title {
        order: -1;
    }
}
.expand-icon {
    position: absolute;
    left: 90%;
    top: 0;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2em;
}
.category-expand {
    display: none;
}
.options-expand {
    display: none;
}

/* ******************************************************************************************** */
/* ******************************************************************************************** */

/* NAV */
a {
    text-decoration: none;
    color: inherit;
}
.navbar {
    padding: 1em 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #44f;
    color: #fff;
    grid-row: span 1;
    grid-column: span 2;
    box-shadow: 0px 0px 15px #000;
}
@media screen and (max-width: 600px) {
    .navbar {
        padding: .5em;
    }
}
.navbar .link {
    color: #fff;
    padding: .7em;
    display: block;
    border-radius: 7px;
    transition: background-color 300ms;
}
.navbar .link:hover {
    background-color: #229;
}
.navbar .menu-icon {
    cursor: pointer;
    padding: 0.8em;
    background-color: transparent;
    border-radius: 7px;
    border: none;
    font-size: 1em;
    color: #FFF;
    transition: background-color 300ms ease-out;
}
.navbar .menu-icon:focus-visible {
    outline: none;
}
.navbar .home-container .link {
    display: block;
    padding: 0.6em;
    background-color: transparent;
    transition: background-color 300ms ease-out;
}
.navbar .home-container .link:hover {
    background-color: #229;
}
.navbar .menu-icon:hover {
    background-color: #229;
}

/* ******************************************************************************************** */
/* ******************************************************************************************** */

/* SIDEBAR */
.sidebar li {
    color: #fff;
    list-style: none;
}
.sidebar ul {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1.5em;
    align-items: center;
    flex-direction: column;
}
.sidebar .logout {
    margin-top: auto;
}
.sidebar .logout > a {
    padding: 0.5em;
    border: 3px solid #44f;
    border-radius: 0.5em;
}
.sidebar {
    background-color: #202020;
    box-shadow: 0px 0px 15px #202020;
    grid-row: span 2;
    padding: 2em 1.5em;
    flex-direction: column;
    gap: 1em;
    display: none;
    z-index: 15;
}
@media screen and (max-width: 600px) {
    .sidebar {
        position: absolute;
        z-index: 20;
        top: 11%;
        width: 100%;
    }
}
.sidebar .link {
    transition: all 200ms;
    color: #999;
    padding: 0.5em;
}
.sidebar .link:hover {
    font-size: 1.2em;
    color: #fff;
}
.line-div {
    border: 1px solid #999;
    width: 100%;
}
.logout-confirm {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: transparent;
    border: 2px solid #fff;
    z-index: 20;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
    display: none;
    color: #fff;
    width: 16.5em;
    height: 7em;
    left: 50%;
    top: 50%;
}
@media screen and (max-width: 600px) {
    .logout-confirm {
        top: 60%;
    }
}

/* ******************************************************************************************** */
/* ******************************************************************************************** */

/* DASHBOARD */
.dashboard {
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 60% 40%;
    box-shadow: 0px 20px 30px #000;
    border-radius: 0.3em;
    border: 2px solid #777;
}
@media screen and (max-width: 600px) {
    .dashboard {
        grid-template-rows: 20% 20% 60%;
    }
}
.dashboard-section.first {
    grid-row: 1;
    height: 100%;
    grid-column: 1;
    border-bottom: 2px solid #777;
    padding: .5em;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 60%;
}
@media screen and (max-width: 600px) {
    .dashboard-section.first {
        grid-row: 1;
        grid-column: 1 / span 2;
    }
}
.dashboard-section.second {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    grid-row: 1;
    grid-column: 2;
    height: 100%;
    border-left: 2px solid #777;
    border-bottom: 2px solid #777;
}
@media screen and (max-width: 600px) {
    .dashboard-section.second {
        grid-row: 2;
        grid-column: 1 / span 2;
        border-left: none;
    }
}
.dashboard-section.third {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-row: 2;
    grid-column: 1 / span 2;
    height: 100%;
}
@media screen and (max-width: 600px) {
    .dashboard-section.third {
        grid-row: 3;
        grid-column: 1 / span 2;
    }
}
.third .habits-section,
.third .tasks-section {
    height: 100%;
    grid-row: 1;
    grid-column: 1;
    border-bottom: 2px solid #777;
    display: flex;
    flex-direction: column;
    padding: 2em;
}
@media screen and (max-width: 600px) {
    .third .tasks-section {
        border-bottom: none;
    }
    .third .habits-section .line-div,
    .third .tasks-section .line-div {
        width: 60%;
        border: 1px solid #999;
    }
}
.third .tasks-section {
    height: 100%;
    grid-row: 2;
    grid-column: 1;
}
.habits-section-today,
.tasks-section-today {
    flex-grow: 1;
}
@media screen and (max-width: 600px) {
    .habits-section-today,
    .tasks-section-today {
        font-size: .8em;
    }
}
.third .list-container {
    height: 100%;
    justify-content: start;
    align-content: center;
    border: none;
    border-radius: 0;
}
.third .list-container .element {
    width: 250px;
    cursor: default;
}
.habits-section-today .habit-today {
    border-color: #777;
    box-shadow: 0px 10px 20px #000;
}
.section-title {
    color: #FFF;
}
@media screen and (max-width: 600px) {
    .section-title {
        font-size: 1em;
    }
}
.third .line-div {
    width: 30%;
}
.first .data-section {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: #FFF;
    grid-row: 1;
    grid-column: 2;
}
@media screen and (max-width: 600px) {
    .first .data-section {
        font-size: .7em;
    }
    .first .data-section p {
        text-align: center;
        width: 60%;
    }
}
.data-section > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.data-section > div > .line-div {
    width: 120%;
}
@media screen and (max-width: 600px) {
    .data-section > div > .line-div {
        width: 60%;
    }
}
.first .user-img-section {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
@media screen and (max-width: 600px) {
    .first .user-img-section {
        flex-direction: column;
    }
}
.user-img-section > .user-img-container {
    width: 4em;
    height: 4em;
}
.user-img-section > .user-img-container .user-img {
    object-fit: cover;
    width: 8em;
}
.user-img-section > .username-container {
    color: #FFF;
    font-size: 1.5em;
}
.main-buttons-container {
    width: 600px;
    padding: 2em; 
    border: 5px solid #44F;
    border-radius: 15px;
    display: flex;
    gap: 2em;
    justify-content: center;
}
@media screen and (max-width: 600px) {
    .main-buttons-container {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
        flex-direction: column;
        justify-content: center;
    }
}
.main-button {
    background-color: transparent;
    font-size: 1.3em;
    border: none;
    background-color: #494;
    border-radius: 5px;
    transition: box-shadow 300ms;
}
@media screen and (max-width: 600px) {
    .main-button {
        font-size: .7em;
    }
}
.main-button:hover {
    box-shadow: 0px 0px 10px #494;
}
.main-button > a {
    display: block;
    width: 100%;
    padding: 1em;
}
