* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #404040;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 9fr;
}
.main-container {
    grid-column: span 2;
    grid-row: span 2;
    padding: 2em;
    flex-direction: column;
    display: flex;
    gap: 2em;
}
.message-container {
    margin: 0 auto;
    color: #FFF;
    padding: .5em 1em;
    text-align: center;
    width: fit-content;
    border-radius: .3em;
    display: flex;
    align-items: center;
    gap: 10px;
}
.message-button {
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 1.3em;
    cursor: pointer;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.button {
    border: none;
    border-radius: 5px;
    background-color: #229;
    color: #FFF;
    cursor: pointer;
    transition: box-shadow 300ms;
}
.button:hover {
    box-shadow: 0px 0px 15px #229;
}
.list-options-container {
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
}
.option-button {
    padding: .5em;
}
.delete-button {
    background-color: #A00;
}
.delete-button:hover {
    box-shadow: 0px 0px 15px #A00;
}
.update-button {
    background-color: #060;
}
.update-button:hover {
    box-shadow: 0px 0px 15px #060;
}
.blur-container {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    backdrop-filter: blur(.5em);
    display: none;
}
.confirm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: transparent;
    border: 2px solid #FFF;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%,-50%);
    display: none;
    color: #FFF;
    width: 14em;
    height: 7em;
    left: 50%;
    top: 50%;
}
.confirm-buttons-container {
    display: flex;
    gap: 5px;
}
.confirm-buttons-container .button {
    padding: .5em 2em;
}
.no-tasks {
    font-size: 2em;
    color: #FFF;
}
.input {
    background-color: transparent;
    padding: 1em;
    border: 2px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    outline: none;
}
.input:focus {
    box-shadow: 0px 0px 15px #44F;
    border-color: #44F;
}
.description {
    resize: none;
}
.category > option {
    background-color: #202020;
}
.save {
    background-color: #494;
    margin-top: auto;
    border: none;
    cursor: pointer;
}
.save:hover {
    box-shadow: 0px 0px 10px #494;
}
.add-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 70%;
    height: 80%;
}
.add-form > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
    height: 100%;
}
.add-form label {
    color: #FFF;
}
.save {
    background-color: #494;
    border: none;
    cursor: pointer;
}
.save:hover {
    box-shadow: 0px 0px 10px #494;
}
.add-button {
    font-size: 1.1em;
    border-radius: .5em;
    width: 200px;
    align-self: center;
}
.add-button > a {
    display: block;
    width: 100%;
    padding: 1em;
    font-size: 1.1em;
}


/* ******************************************************************************************** */
/* ******************************************************************************************** */



/* NAV */
a {
    text-decoration: none;
    color: inherit;
}
.navbar {
    padding: 1em 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #44F;
    color: #FFF;
    grid-row: span 1;
    grid-column: span 2;
    box-shadow: 0px 0px 15px #000;
}
.navbar .link {
    color: #FFF;
    background-color: #229;
    padding: .5em;
    border-radius: 7px;
}
.navbar .menu-icon {
    background-color: transparent;
    cursor: pointer;
    padding: .5em;
    background-color: #229;
    border-radius: 7px;
    border: none;
    font-size: 1em;
    color: #FFF;
}



/* ******************************************************************************************** */
/* ******************************************************************************************** */



/* SIDEBAR */
.sidebar li {
    list-style: none;
}
.sidebar {
    background-color: #FFF;
    grid-row: span 2;
    padding: 2em 2em;
    display: none;
}




/* ******************************************************************************************** */
/* ******************************************************************************************** */




/* INDEX */
.main-buttons-container {
    width: 600px;
    padding: 2em;
    border: 5px solid #44F;
    border-radius: 15px;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}
.main-button {
    background-color: transparent;
    font-size: 1.3em;
    border: none;
    background-color: #494;
    border-radius: 5px;
    transition: box-shadow 300ms;
}
.main-button:hover {
    box-shadow: 0px 0px 10px #494;
}
.main-button > a {
    display: block;
    width: 100%;
    padding: 1em;
}
