.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}
@media screen and (max-width: 600px) {
    .profile {
        width: 100%;
        height: 100%;
    }
}
.profile-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .profile-data {
        flex-direction: column;
    }
}
.user-name {
    font-size: 3em;
    color: #fff;
}
@media screen and (max-width: 600px) {
    .user-name {
        font-size: 2em;
    }
}
.user-data {
    color: #bbb;
}
.profile-options {
    border-radius: 0.5em;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
@media screen and (max-width: 600px) {
    .profile-options {
        width: 100%;
    }
}
.profile-options .button {
    font-size: 1em;
    border-radius: 10px;
    box-shadow: 0 5px 10px #000;
    text-align: center;
}
.profile-options .button > a {
    padding: .8em;
    display: block;
}

.profile-options .button:nth-child(3) {
    margin-top: auto;
}
/* .danger, */
/* .profile-options .danger { */
/*     margin-top: auto; */
/* } */

.user-title {
    display: flex;
    gap: 1em;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .user-title {
        flex-direction: column;
    }
}

.changeimg-container {
    position: absolute;
    z-index: 10;
    top: 60%;
    left: 55%;
    background-color: #BBB;
    height: 40%;
    width: 45%;
    border-top-left-radius: .5em;
    opacity: 0;
    transition: opacity 200ms;
}
.user-img-container:hover .changeimg-container {
    opacity: 1;
}
.changeimg-container .no-user-img-label {
    background-color: transparent;
    border: none;
    padding: .5em;
    cursor: pointer;
    margin-left: -.6em;
}
.changeimg-container .no-user-img-label {
    color: #000;
}


/******* CHANGE USERNAME - CHANGE PASSWORD - DELETE ACCOUNT *******/
.change,
.delete-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
    color: #fff;
}
@media screen and (max-width: 600px) {
    .change > h1 {
        text-align: center;
    }
}
.change form,
.delete-account form {
    display: flex;
    height: 50%;
    gap: 1em;
    width: 40%;
    flex-direction: column;
}
@media screen and (max-width: 600px) {
    .change form,
    .delete-account form {
        width: 80%;
    }
}
.change form div,
.delete-account form div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.name {
    margin-top: auto;
    border: 2px solid;
}
.label {
    color: #fff;
    font-size: 1.3em;
}
