.profile {
    border: 2px solid #999;
    box-shadow: 0 10px 20px #000;
    border-radius: 0.5em;
    align-self: center;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: flex-start;
    justify-content: start;
    width: 70%;
    height: 80%;
}
@media screen and (max-width: 600px) {
    .profile {
        width: 100%;
        height: 100%;
    }
}
.profile-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .profile-data {
        flex-direction: column;
    }
}
.user-name {
    font-size: 3em;
    color: #fff;
}
@media screen and (max-width: 600px) {
    .user-name {
        font-size: 2em;
    }
}
.user-data {
    color: #bbb;
}
.profile-options {
    border-radius: 0.5em;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
@media screen and (max-width: 600px) {
    .profile-options {
        width: 100%;
    }
}
.profile-options .link {
    font-size: 1em;
    border-radius: 10px;
    box-shadow: 0 5px 10px #000;
    padding: 0.8em;
    color: #fff;
    text-align: center;
    background-color: #229;
}
.danger,
.profile-options .danger {
    background-color: #f00;
    margin-top: auto;
}

.danger:hover {
    box-shadow: 0px 0px 15px #f00;
}

.user-title {
    display: flex;
    gap: 1em;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .user-title {
        flex-direction: column;
    }
}

.user-img-container {
    width: 6em;    
    height: 6em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.user-img-container > .user-img {
    object-fit: cover;
    width: 10em;
}

.user-img-container > form {
    display: flex;
    justify-content: center;
}

.user-img-container .no-user-img {
    display: none;
}

.no-user-img-label {
    color: #FFF;
    font-size: .7em;
    cursor: pointer;
    text-align: center;
}


/******* CHANGE USERNAME - CHANGE PASSWORD - DELETE ACCOUNT *******/
.change,
.delete-account {
    gap: 2.5em;
    color: #fff;
}
@media screen and (max-width: 600px) {
    .change > h1 {
        text-align: center;
    }
}
.change form,
.delete-account form {
    display: flex;
    height: 50%;
    gap: 1em;
    width: 40%;
    flex-direction: column;
}
@media screen and (max-width: 600px) {
    .change form,
    .delete-account form {
        width: 80%;
    }
}
.change form div,
.delete-account form div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.name {
    margin-top: auto;
    border: 2px solid;
}
.label {
    color: #fff;
    font-size: 1.3em;
}
