/* SCORE TABLE */
.score-table {
    border: 2px solid #777;
    flex-direction: column;
    justify-content: start;
    gap: .5em;
    border-radius: .3em;
    box-shadow: 0px 20px 30px #000;
}

/* SCORE TABLE HEADER */
.score-table-header {
    width: 70%;
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: space-around;
}
.score-table-header > div {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .5em;
    font-size: 1.3em;
}
.score-table-header > .user-img-container {
    width: 3em;
    height: 3em;
}
.score-table-header > .user-img-container > .user-img {
    width: 6em;
}
.score-table-header > div > p:nth-child(1) {
    color: #AAA;
}
/* SCORE TABLE BODY */
.score-table-body {
    width: 70%;
    color: #FFF;
    border: 2px solid #777;
    border-radius: .3em;
}
.user-position-header {
    display: flex;
    border-bottom: 2px solid #777;
}
.user-position-header > p {
    text-align: center;
    padding: .5em;
}
.user-position-header > p:nth-child(1) {
    width: 10%;
}
.user-position-header > p:nth-child(2) {
    width: 70%;
    text-align: left;
}
.user-position-header > p:nth-child(3) {
    width: 20%;
}
.user-position-body {
    display: flex;
    flex-direction: column;
}
.user-position-body .user-position {
    display: flex;
    justify-content: space-between;
    border-radius: .3em;
    align-items: center;
    padding: .2em 0;
}
.user-position:nth-child(odd) {
    background-color: #202020;
}
.user-position:nth-child(even) {
    background-color: #404040;
}
.user-position > p {
    text-align: center;
}
.user-position > .user-position-pos {
    width: 10%;
    text-align: center;
}
.user-position > .user-position-username {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 1em;
    text-align: left;
}
.user-position-username .user-img-container {
    width: 2em;
    height: 2em;
}
.user-position-username .user-img-container .user-img {
    width: 4em;
}
.user-position > .user-position-points {
    width: 20%;
}
