/* SEARCH TASKS */
.search {
    border: 2px solid #777;
    border-radius: 0.3em;
    padding: 0.5em;
    box-shadow: 0px 20px 30px #000;
    justify-content: start;
}
.search > div {
    width: 70%;
}
@media screen and (max-width: 600px) {
    .search > div {
        width: 100%;
        font-size: 0.8em;
    }
}
.search > .main-title {
    margin-bottom: 0.5em;
    text-align: center;
}
.search-header {
    border: 2px solid #777;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom: none;
    display: flex;
    justify-content: start;
    color: #aaa;
}
.search > .search-form {
    width: 70%;
}
.search-header > p {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0.5em;
    width: 100%;
}
.search-header.searchTasks > p:nth-child(1) {
    width: 40%;
    border-right: 2px solid #777;
}
.search-header.searchTasks > p:nth-child(2) {
    width: 25%;
    border-right: 2px solid #777;
}
.search-header.searchTasks > p:nth-child(3) {
    width: 10%;
    border-right: 2px solid #777;
}
.search-header.searchTasks > p:nth-child(4) {
    width: 25%;
}
@media screen and (max-width: 600px) {
    .search-header.searchTasks > p:nth-child(1) {
        width: 30%;
        border-right: 2px solid #777;
    }
    .search-header.searchTasks > p:nth-child(2) {
        width: 30%;
        border-right: 2px solid #777;
    }
    .search-header.searchTasks > p:nth-child(3) {
        width: 20%;
        border-right: 2px solid #777;
    }
    .search-header.searchTasks > p:nth-child(4) {
        width: 20%;
    }
}
.search-body {
    border: 2px solid #777;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.search-body > .taskFound:nth-child(odd) {
    background-color: #202020;
}
.search-body > .taskFound:nth-child(even) {
    background-color: #404040;
}
.taskFound {
    display: flex;
}
.taskFound > p {
    padding: 0.5em;
    display: flex;
    align-items: center;
}
.taskFound-title {
    width: 40%;
    border-right: 2px solid #777;
}
.taskFound-category {
    width: 25%;
    border-right: 2px solid #777;
}
.taskFound-done {
    width: 10%;
    border-right: 2px solid #777;
}
.taskFound-finish {
    width: 25%;
}
@media screen and (max-width: 600px) {
    .taskFound-title {
        width: 30%;
        border-right: 2px solid #777;
    }
    .taskFound-category {
        width: 30%;
        border-right: 2px solid #777;
    }
    .taskFound-done {
        width: 20%;
        border-right: 2px solid #777;
    }
    .taskFound-finish {
        width: 20%;
    }
}

/* SEARCH HABITS */
.search-header.searchHabits > p {
    width: 100%;
}
.search-header.searchHabits > p:nth-child(1) {
    border-right: 2px solid #777;
}
.search-header.searchHabits > p:nth-child(2) {
    border-right: 2px solid #777;
}
.habitFound {
    display: flex;
}
.habitFound > p {
    padding: 0.5em;
    display: flex;
    align-items: center;
}
.habitFound-title {
    width: 100%;
    border-right: 2px solid #777;
}
.habitFound-category {
    width: 100%;
    border-right: 2px solid #777;
}
.habitFound-time-to-do {
    width: 100%;
}
/* SEARCH INPUT */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-form {
    width: 100%;
    border: 2px solid #000;
    border-radius: 0.3em;
    display: flex;
    overflow: hidden;
}
@media screen and (max-width: 600px) {
    .search-form {
        width: 60%;
    }
}
.search-form .search-input {
    width: 70%;
    border: none;
    border-radius: 0;
    padding: 0.5em;
    border-right: 2px solid #000;
    color: #fff;
}
.search-input::placeholder {
    color: #fff;
}
.search-form .search-button {
    background-color: #229;
    border: none;
    width: 30%;
    color: #fff;
    cursor: pointer;
}
