.signin {
    width: 50%;
    color: #fff;
    justify-content: center;
    gap: 2em;
    flex-direction: column;
    align-self: center;
    display: flex;
    align-items: center;
    height: 100%;
}
.signin-form {
    display: flex;
    justify-content: start;
    gap: 1em;
    width: 80%;
    height: 30%;
    flex-direction: column;
}
#submit-button {
    margin-top: auto;
}
.conditions-container {
    display: none;
    margin-left: 1em;
    font-size: .75em;
    align-items: center;
    gap: 2em;
    display: none;
}
#username-input:focus + .conditions-container {
    display: flex;
}
#password-input:focus + .conditions-container {
    display: flex;
}
.conditions-container > p > span {
    color: #000;
}
@media screen and (max-width: 600px) {
    .signin {
        width: 100%;
        justify-content: center;
    }
    .signin-form {
        justify-content: center;
    }
    #submit-button {
        margin: 0;
    }
}
