body {
    grid-template-rows: 15% 85%;
}
.main-container {
    grid-row: 2;
}
.signin {
    width: 50%;
    height: 90%;
    border-radius: 14px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 2px solid #555;
}
.signin > hr {
    border: none;
    height: .5px;
}
.sign-header {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 1.5em;
}
.sign-body {
    height: 85%;
}
.error-text {
    display: flex;
    gap: .5em;
    font-size: .8em;
    color: var(--mainColor3);
}
.input-container {
    display: flex;
    flex-direction: column;
    gap: .3em;
}
.sign-body .input-container-body {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border: none;
    gap: 5px;
    padding: 12px 10px;
    background-color: #333;
    color: #FFF;
    transition: background-color .15s ease;
}
.input-container-body:hover {
    background-color: #444;
}
.input-container-body label {
    font-size: .8em;
}
.signin-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1em;
    gap: 1.5em;
}
#submit-button {
    margin-top: auto;
}
@media screen and (max-width: 600px) {
    .signin {
        width: 100%;
        justify-content: center;
    }
    .signin-form {
        justify-content: center;
    }
    #submit-button {
        margin: 0;
    }
}
