* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #404040;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 9fr;
}
.main-container {
    grid-column: span 2;
    grid-row: span 2;
    padding: 3em;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.button {
    border: none;
    border-radius: 5px;
    background-color: #229;
    color: #FFF;
    cursor: pointer;
    transition: all 300ms;
}
.button:hover {
    box-shadow: 0px 0px 15px #229;
}



/* ******************************************************************************************** */
/* ******************************************************************************************** */



/* NAV */
a {
    text-decoration: none;
    color: inherit;
}
.navbar {
    padding: 1em 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #44F;
    color: #FFF;
    grid-row: span 1;
    grid-column: span 2;
    transition: all 300ms;
    box-shadow: 0px 0px 15px #000;
}
.navbar .link {
    color: #FFF;
    background-color: #229;
    padding: .5em;
    border-radius: 7px;
}
.navbar .menu-icon {
    background-color: transparent;
    cursor: pointer;
    padding: .5em;
    background-color: #229;
    border-radius: 7px;
    border: none;
    font-size: 1em;
    color: #FFF;
}



/* ******************************************************************************************** */
/* ******************************************************************************************** */



/* SIDEBAR */
.sidebar li {
    list-style: none;
}
.sidebar {
    background-color: #FFF;
    grid-row: span 2;
    padding: 2em 2em;
    display: none;
}



/* ******************************************************************************************** */
/* ******************************************************************************************** */



/* INDEX */
.main-buttons-container {
    width: 400px;
    padding: 2em;
    border: 5px solid #44F;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-button {
    background-color: transparent;
    font-size: 1.3em;
    border: none;
    background-color: #494;
    border-radius: 5px;
    transition: all 300ms;
}
.main-button:hover {
    box-shadow: 0px 0px 10px #494;
}
.main-button > a {
    display: block;
    width: 100%;
    padding: 1em;
}



/* ******************************************************************************************** */
/* ******************************************************************************************** */



/* TASKLIST */
.tasklist {
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}
.tasklist-table {
    border-color: #44F;
    box-shadow: 0px 0px 10px #44F;
}
.tasklist-table td {
    padding: .5em;
    color: #FFF;
}
.tasklist-button {
    font-size: 1.1em;
}
.tasklist-button > a {
    display: block;
    width: 100%;
    padding: .5em;
}
.option-button {
    padding: .5em;
}
td {
    text-align: center;
}
tr {
    margin: 1em 0;
}

/* ******************************************************************************************** */
/* ******************************************************************************************** */


/* ADDTASK */
.addtask-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 70%;
    height: 80%;
}
.addtask-form > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
    height: 100%;
}
.addtask-form .input {
    background-color: transparent;
    padding: 1em;
    border: 2px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    outline: none;
}
.addtask-form .input:focus {
    box-shadow: 0px 0px 15px #44F;
    border-color: #44F;
}
.addtask-form .description {
    resize: none;
}
.addtask-form label {
    color: #FFF;
}
.addtask-form > .save {
    background-color: #494;
    border: none;
    cursor: pointer;
}
.addtask-form > .save:hover {
    box-shadow: 0px 0px 10px #494;
}
.addtask-form .category > option {
    background-color: #202020;
}



/* ******************************************************************************************** */
/* ******************************************************************************************** */



/* DETAILS */
.details {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 20% 8% 72%;
    box-shadow: 0px 20px 30px #000;
    border-radius: .5em;
    border-bottom-left-radius: .8em;
    border-bottom-right-radius: .8em;
}
.details > div {
    color: #FFF;
}
.detail-title-container {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    height: 100%;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    border: 2px solid #777;
    border-radius: .3em 0 0 0;
    border-right: none;
    border-bottom: none;
    padding-left: .5em;
}
.detail-date-container {
    grid-row: 1 / span 1;
    grid-column: 2 / span1;
    height: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 10px;
    border: 2px solid #777;
    border-radius: 0 .5em 0 0;
    border-bottom: none;
}
.detail-date-title {
    color: #888;
    font-size: 1em;
    margin-right: 20px;
}
.detail-date-created,.detail-date-finished {
    font-size: .9em;
}
.detail-category-container {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
    font-size: .8em;
    border: 2px solid #777;
}
.detail-category-title {
    color: #888;
}
.detail-category {
    font-size: 1.3em;
    margin-left: 10px;
}
.detail-description-container {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
    height: 100%;
    font-size: 1.3em;
    padding: 1.5em;
    border: 2px solid #777;
    border-radius: 0 0 .5em .5em;
    border-top: none;
}
