/* TASKLIST */
.tasklist {
    flex-direction: column;
    justify-content: start;
    width: 100%;
    gap: 2em;
}
.task-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    flex-wrap: wrap;
    gap: 1.5em;
    height: fit-content;
    position: relative;
    padding: 1em;
    border: 2px solid #999;
    border-radius: 0.5em;
    color: #fff;
    box-shadow: 0 10px 20px #000;
}
.task-title-container {
    display: flex;
    align-items: center;
    gap: 1em;
}
.done-check {
    appearance: none;
    background-color: #303030;
    border: 2px solid #FFF;
    height: 1.5em;
    width: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    cursor: pointer;
}
.done-check::before {
    content: "";
    width: .8em;
    height: .8em;
    background-color: #0A0;
    transform: scale(0);
    transition: transform 100ms;
}
.done-check:checked::before {
    transform: scale(1);
}
.done-check:focus {
    outline: none;
}
.task-title {
    text-align: center;
    font-size: 1.5em;
}
.no-tasks {
    color: #bbb;
}

/* ******************************************************************************************** */
/* ******************************************************************************************** */

/* DETAILS */
.tasksDetails {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 20% 8% 72%;
    box-shadow: 0px 20px 30px #000;
    border-radius: 0.5em;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    color: #fff;
}
@media screen and (max-width: 600px) {
    .tasksDetails {
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: 20% 10% 10% 60%;
    }
}
.details > div {
    color: #fff;
}
.detail-title-container {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    height: 100%;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    border: 2px solid #777;
    border-radius: 0.3em 0 0 0;
    border-right: none;
    border-bottom: none;
    padding-left: 0.5em;
}
@media screen and (max-width: 600px) {
    .detail-title-container {
        grid-row: 1;
        grid-column: 1 / span 3;
        border: 2px solid #777;
        border-bottom: none;
        border-radius: .3em .3em 0 0;
        justify-content: center;
    }
}
.detail-date-container {
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
    height: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 10px;
    border: 2px solid #777;
    border-radius: 0 0.5em 0 0;
    border-bottom: none;
}
@media screen and (max-width: 600px) {
    .detail-date-container {
        grid-row: 3 / span 1;
        grid-column: 1 / span 3;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border: 2px solid #777;
        border-top: none;
        border-radius: 0;
    }
}
.detail-date-title {
    color: #888;
    font-size: 1em;
    margin-right: 20px;
}
.detail-date-created,
.detail-date-finished {
    font-size: 0.9em;
}
.detail-category-container {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
    font-size: 0.8em;
    border: 2px solid #777;
}
@media screen and (max-width: 600px) {
    .detail-category-container {
        grid-row: 2 / span 1;
        grid-column: 1 / span 2;
        border-right: none;
    }
}
.detail-category-title {
    color: #888;
}
.detail-category {
    font-size: 1.3em;
    margin-left: 10px;
}
.detail-done-container {
    grid-row: 2;
    grid-column: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: .5em;
    border: 2px solid #777;
}
@media screen and (max-width: 600px) {
    .detail-done-container {
        grid-row: 2 / span 1;
        grid-column: 3 / span 1;
        justify-content: center;
    }
}
.detail-description-container {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
    height: 100%;
    font-size: 1.3em;
    padding: 1.5em;
    border: 2px solid #777;
    border-radius: 0 0 0.5em 0.5em;
    border-top: none;
}
@media screen and (max-width: 600px) {
    .detail-description-container {
        grid-row: 4 / span 1;
        grid-column: 1 / span 3;
    }
}
