/* TASKLIST */
.tasklist {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 2em;
}
.tasklist > div {
    width: 100%;
    display: flex;
    gap: 2em;
    justify-content: center;
    flex-wrap: wrap;
}
.task-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 10rem;
    padding: 1em;
    border: 2px solid #999;
    border-radius: .5em;
    color: #FFF;
    box-shadow: 0 10px 20px #000;
}
.task-options-container {
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
}
.tasklist-table {
    border-color: #44F;
    box-shadow: 0px 0px 10px #44F;
}
.tasklist-table td {
    padding: .5em;
    color: #FFF;
}
.tasklist-button {
    font-size: 1.1em;
    border-radius: .5em;
}
.tasklist-button > a {
    display: block;
    width: 100%;
    padding: 1em;
    font-size: 1.1em;
}
.option-button {
    padding: .5em;
}
td {
    text-align: center;
}
tr {
    margin: 1em 0;
}
.delete-button {
    background-color: #A00;
}
.delete-button:hover {
    box-shadow: 0px 0px 15px #A00;
}
.update-button {
    background-color: #060;
}
.update-button:hover {
    box-shadow: 0px 0px 15px #060;
}
.no-tasks {
    font-size: 2em;
    color: #FFF;
}
.blur-container {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    backdrop-filter: blur(.5em);
    display: none;
}
.confirm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: transparent;
    border: 2px solid #FFF;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%,-50%);
    display: none;
    color: #FFF;
    width: 14em;
    height: 7em;
    left: 50%;
    top: 50%;
}
.confirm-buttons-container {
    display: flex;
    gap: 5px;
}
.confirm-buttons-container .button {
    padding: .5em 2em;
}


/* ******************************************************************************************** */
/* ******************************************************************************************** */


/* ADDTASK */
.addtask-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 70%;
    height: 80%;
}
.addtask-form > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
    height: 100%;
}
.addtask-form .input {
    background-color: transparent;
    padding: 1em;
    border: 2px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    outline: none;
}
.addtask-form .input:focus {
    box-shadow: 0px 0px 15px #44F;
    border-color: #44F;
}
.addtask-form .description {
    resize: none;
}
.addtask-form label {
    color: #FFF;
}
.addtask-form > .save {
    background-color: #494;
    border: none;
    cursor: pointer;
}
.addtask-form > .save:hover {
    box-shadow: 0px 0px 10px #494;
}
.addtask-form .category > option {
    background-color: #202020;
}



/* ******************************************************************************************** */
/* ******************************************************************************************** */



/* DETAILS */
.details {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 20% 8% 72%;
    box-shadow: 0px 20px 30px #000;
    border-radius: .5em;
    border-bottom-left-radius: .8em;
    border-bottom-right-radius: .8em;
}
.details > div {
    color: #FFF;
}
.detail-title-container {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    height: 100%;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    border: 2px solid #777;
    border-radius: .3em 0 0 0;
    border-right: none;
    border-bottom: none;
    padding-left: .5em;
}
.detail-date-container {
    grid-row: 1 / span 1;
    grid-column: 2 / span1;
    height: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 10px;
    border: 2px solid #777;
    border-radius: 0 .5em 0 0;
    border-bottom: none;
}
.detail-date-title {
    color: #888;
    font-size: 1em;
    margin-right: 20px;
}
.detail-date-created,.detail-date-finished {
    font-size: .9em;
}
.detail-category-container {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
    font-size: .8em;
    border: 2px solid #777;
}
.detail-category-title {
    color: #888;
}
.detail-category {
    font-size: 1.3em;
    margin-left: 10px;
}
.detail-description-container {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
    height: 100%;
    font-size: 1.3em;
    padding: 1.5em;
    border: 2px solid #777;
    border-radius: 0 0 .5em .5em;
    border-top: none;
}
