        <div class="input-container">    
            <label for="title-input">Titulo</label>
            <input
                type="text"
                name="title"
                class="input"
                placeholder="Ingrese un titulo"
                value="{{title}}"
                autofocus
                id="title-input"
            />
        </div>
        <div class="input-container">
            <label for="description-input">Descripcion</label>
            <input
                class="description input"
                name="description"
                placeholder="Ingrese una descripcion"
                value="{{description}}"
                id="description-input"
            >
        </div>
        <div>
            <label for="inputs-container">Dias:</label>
            <div class="inputs-container days-container" id="inputs-container">
                {{#if days}}
                    <div class="day-input-container">
                        <input 
                            type="checkbox"
                            class="input-check"
                            value="Lunes"
                            name="days"
                        {{#if (checkDays days 'Lunes')}}
                            checked
                        {{/if}}
                        >
                        <span>Lunes</span>
                    </div>
                    <div class="day-input-container">
                        <input 
                            type="checkbox"
                            class="input-check"
                            value="Martes"
                            name="days"
                        {{#if (checkDays days 'Martes')}}
                            checked
                        {{/if}}
                        >
                        <span>Martes</span>
                    </div>
                    <div class="day-input-container">
                        <input 
                            type="checkbox"
                            class="input-check"
                            value="Miercoles"
                            name="days"
                        {{#if (checkDays days 'Miercoles')}}
                            checked
                        {{/if}}
                        >
                        <span>Miercoles</span>
                    </div>
                    <div class="day-input-container">
                        <input 
                            type="checkbox"
                            class="input-check"
                            value="Jueves"
                            name="days"
                        {{#if (checkDays days 'Jueves')}}
                            checked
                        {{/if}}
                        >
                        <span>Jueves</span>
                    </div>
                    <div class="day-input-container">
                        <input 
                            type="checkbox"
                            class="input-check"
                            value="Viernes"
                            name="days"
                        {{#if (checkDays days 'Viernes')}}
                            checked
                        {{/if}}
                        >
                        <span>Viernes</span>
                    </div>
                    <div class="day-input-container">
                        <input 
                            type="checkbox"
                            class="input-check"
                            value="Sabado"
                            name="days"
                        {{#if (checkDays days 'Sabado')}}
                            checked
                        {{/if}}
                        >
                        <span>Sabado</span>
                    </div>
                    <div class="day-input-container">
                        <input 
                            type="checkbox"
                            class="input-check"
                            value="Domingo"
                            name="days"
                        {{#if (checkDays days 'Domingo')}}
                            checked
                        {{/if}}
                        >
                        <span>Domingo</span>
                    </div>
                {{else}}
                    <div class="day-input-container">
                        <input 
                            type="checkbox"
                            class="input-check"
                            value="Lunes"
                            name="days"
                        >
                        <span>Lunes</span>
                    </div>
                    <div class="day-input-container">
                        <input 
                            type="checkbox"
                            class="input-check"
                            value="Martes"
                            name="days"
                        >
                        <span>Martes</span>
                    </div>
                    <div class="day-input-container">
                        <input 
                            type="checkbox"
                            class="input-check"
                            value="Miercoles"
                            name="days"
                        >
                        <span>Miercoles</span>
                    </div>
                    <div class="day-input-container">
                        <input 
                            type="checkbox"
                            class="input-check"
                            value="Jueves"
                            name="days"
                        >
                        <span>Jueves</span>
                    </div>
                    <div class="day-input-container">
                        <input 
                            type="checkbox"
                            class="input-check"
                            value="Viernes"
                            name="days"
                        >
                        <span>Viernes</span>
                    </div>
                    <div class="day-input-container">
                        <input 
                            type="checkbox"
                            class="input-check"
                            value="Sabado"
                            name="days"
                        >
                        <span>Sabado</span>
                    </div>
                    <div class="day-input-container">
                        <input 
                            type="checkbox"
                            class="input-check"
                            value="Domingo"
                            name="days"
                        >
                        <span>Domingo</span>
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="input-container">
            <label for="time-input">Hora:</label>
            <input type="time" name="time_to_do" id="time-input" class="time input" value="{{time_to_do}}">
        </div>
        <div class="input-container">
            <label for="category-select">Categoria:</label>
            <select
                name="category"
                id="category-select"
                class="category input"
            >
                <option hidden>Seleccione</option>
                <option {{#if (compare this.category 'Academica')}}
                    selected
                    {{/if}} 
                    value="Academica">Academica</option>
                <option {{#if (compare this.category 'Salud')}}
                    selected
                    {{/if}}
                    value="Salud">Salud</option>
                <option {{#if (compare this.category 'Practica')}}
                    selected
                    {{/if}}
                    value="Practica">Practica</option>
                <option {{#if (compare this.category 'Laboral')}}
                    selected
                    {{/if}}
                    value="Laboral">Laboral</option>
            </select>
        </div>
