<form action="/search" class="search-form">
    <input
        type="search"
        name="search_query"
        id="search-input"
        class="search-input input"
        placeholder="Titulo"
    />
    <input type="submit" value="Buscar" class="search-button" />
</form>
