<form action="/searchHabits" class="search-form">
    <div class="input-container">
            <i class="gg-search"></i>
            <input
                type="search"
                name="search_query"
                id="search-input"
                class="search-input input"
                placeholder="Titulo"
            />
    </div>
    <input type="submit" value="Buscar" class="button" />
</form>
