<div class="input-container">
    <div class="input-container-body">
        <label for="username-input">Usuario</label>
        <input
            type="username"
            name="username"
            autocomplete="off"
            placeholder="Ingrese su usuario"
            class="input"
            id="username-input"
        />
    </div>
    {{#if usernameMessage}}
        <span class="error-text">{{usernameMessage}}</span>
    {{/if}}
</div>
<div class="input-container">
    <div class="input-container-body">
        <label for="password-input">Contraseña</label>
        <input
            type="password"
            name="password"
            autocomplete="off"
            placeholder="Ingrese su contraseña"
            class="input"
            id="password-input"
        />
    </div>
    {{#if passwordMessage}}
        <span class="error-text">{{passwordMessage}}</span>
    {{/if}}
</div>
