<div>
    <input
        class="title input"
        type="text"
        name="title"
        placeholder="Titulo"
        value="{{title}}"
        required
    />

    <textarea
        class="description input"
        name="description"
        rows="10"
        placeholder="Descripcion"
        required
        >{{description}}</textarea>

    <label for="created-input">Creado el:</label>
    <input
        class="created input"
        type="date"
        name="created_at"
        id="created-input"
        value="{{created_at}}"
        required
    />

    <label for="finished-input">Termina el:</label>
    <input
        class="finished input"
        type="date"
        name="finished_at"
        id="finished-input"
        value="{{finished_at}}"
        required
    />

    <label for="category-select">Categoria:</label>
    <select
        name="category"
        id="category-select"
        class="category input"
        required
    >
        <option hidden>Seleccione</option>
        <option {{#if (compare this.category 'academica')}}
                selected
                {{/if}} 
                value="academica">Academica</option>

        <option {{#if (compare this.category 'salud')}}
                selected
                {{/if}}
                value="salud">Salud</option>

        <option {{#if (compare this.category 'practica')}}
                selected
                {{/if}}
                value="practica">Practica</option>

    </select>
</div>
