<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
            rel="stylesheet"
        />
        <title>TasksApp</title>
        <link rel="stylesheet" href="/css/output.css" />
    </head>
    <body>
        <main class="main-container flex items-center justify-around sm:flex sm:flex-col" id="main-container">
            {{{body}}}
        </main>
        <script src="/js/index.js" type="module"></script>
    </body>
</html>
