<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
            rel="stylesheet"
        />
        <title>TasksApp</title>
        <link rel="stylesheet" href="/css/index.css" />
        {{#if styles}}
            <link rel="stylesheet" href="/css/{{styles}}.css">
        {{/if}}
    </head>
    <body>
        <nav class="navbar" id="navbar">
            <div class="home-container">
                <a href="/" class="link">Inicio</a>
            </div>
            <div class="links-container">
                <a href="/tasks/list" class="link">Lista de Tareas</a>
            </div>
            <div class="menu-container">
                <button class="menu-icon" id="menu-icon">Menu</button>
            </div>
        </nav>
        <aside class="sidebar" id="sidebar">
            <ul>
                <li><a href="#" class="link">#</a></li>
                <li><a href="#" class="link">#</a></li>
                <li><a href="#" class="link">#</a></li>
            </ul>
        </aside>

        <main class="main-container" id="main-container">
            {{#if message}}
                <div class="message-container" id="message-container">
                    <p class="message-text" id="message-text">{{message}}</p>
                    <button
                        class="message-button"
                        id="message-button"
                    >&Cross;</button>
                </div>
            {{/if}}
            {{{body}}}
        </main>

        <script src="/js/index.js" type="module"></script>
    </body>
</html>
