<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TasksApp</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav class="navbar" id="navbar">
        <div class="home-container">
            <a href="/" class="link">Home</a>
        </div>
        <div class="links-container">
            <a href="#" class="link">#</a>
            <a href="#" class="link">#</a>
            <a href="#" class="link">#</a>
        </div>
        <div class="menu-container">
            <button class="menu-icon" id="menu-icon">#</button>
        </div>
    </nav>
    <aside class="sidebar" id="sidebar">
        <ul>
            <li><a href="#" class="link">#</a></li>
            <li><a href="#" class="link">#</a></li>
            <li><a href="#" class="link">#</a></li>
        </ul>
    </aside>

    <script src="/js/index.js"></script>
</body>
</html>
