<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
            rel="stylesheet"
        />
        <title>TasksApp</title>
        <link rel="stylesheet" href="/css/output.css" />
    </head>
    <body class="grid grid-cols-layout grid-rows-layout">

        {{> UI/header}}

        {{#if user}}
            {{> UI/sidebar}}
        {{/if}}

        <main class="main-container row-start-2 col-start-1 col-span-2 relative overflow-hidden" id="main-container">
            <div class="hidden z-30 confirm" id="logout-confirm">
                <p>¿Está Seguro?</p>
                <div class="flex gap-1">
                    {{> buttons/button_link url='/logout' content='Cerrar Sesion' class='text-sm px-2 py-1'}}
                    {{> buttons/button content='Cancelar' id='confirm-button-no' class='text-sm px-2 py-1'}}
                </div>
            </div>
            <div class="hidden absolute w-full h-full left-0 top-0 backdrop-blur-md z-20" id="main-blur-container"></div>
            {{#if message}}
                <div class="message-container" id="message-container">
                    <p class="message-text" id="message-text">{{message}}</p>
                    <button
                        class="message-button"
                        id="message-button"
                    >&Cross;</button>
                </div>
            {{/if}}
            {{{body}}}
        </main>

        <script src="/js/index.js" type="module"></script>
    </body>
</html>
