<div class="change-username container">
    <h1>Cambiar Nombre de Usuario</h1>
    <form action="/changeUsername" method="post">
        <div>
            <label for="password" class="label">Contraseña</label>
            <input type="password" class="input" id="password" name="password" />
        </div>
        <div>
            <label for="username" class="label">Nuevo Nombre de Usuario</label>
            <input type="text" class="input" id="username" name="newUsername" />
        </div>
        <input type="hidden" name="username" value="{{user.username}}">
        <input type="submit" value="Actualizar" class="input save" />
    </form>
</div>
