<div class="change container">
    <h1>Cambiar Contraseña</h1>
    <form action="/changePassword" method="post">
        <div>
            {{> inputs/input type='password' name='password' placeholder='Ingrese su contraseña actual' label='Contraseña Actual' id='password-input'}}
        </div>
        <div>
            {{> inputs/input type='password' name='newPassword' placeholder='Ingrese su nueva contraseña' label='Nueva Contraseña' id='newPassword-input'}}
        </div>
        <input type="hidden" name="username" value="{{user.username}}" />
        {{> buttons/button_submit content='Actualizar'}}
    </form>
</div>
