<div class="dashboard container">
    <section class="dashboard-section first"></section>
    <section class="dashboard-section second">
        <button class="main-button">
            <a href="/tasks/list">Lista de Tareas</a>
        </button>
        <button class="main-button">
            <a href="/habits/list">Lista de Habitos</a>
        </button>
    </section>
    <section class="dashboard-section third">
        <div class="habits-section">
            <h1 class="habits-section-title">Habitos de Hoy</h1>
            <div class="habits-section-today">
                {{> listHabits}}                
            </div>
        </div>
        <div class="tasks-section"></div>
    </section>
    <section class="dashboard-section fourth"></section>
</div>
