<div class="h-full flex flex-col items-center justify-around">
    <h1 class="text-2xl font-bold">Eliminar Cuenta</h1>
    <form action="/deleteAccount" method="post" class="flex flex-col gap-4 w-2/5 sm:w-full">
        {{> inputs/input type='password' name='password' placeholder='Ingrese su contraseña' label='Contraseña' id='password-input'}}
        <input type="hidden" name="username" value="{{user.username}}" />
        {{> buttons/button_submit content='Eliminar Cuenta' class='py-2'}}
    </form>
</div>
