<div class="delete-account container">
    <h1>Eliminar Cuenta</h1>
    <form action="/deleteAccount" method="post">
        <div>
            <div class="input-container">
                <input
                    type="password"
                    name="password"
                    id="password"
                    class="input"
                    placeholder="Contraseña"
                />
            </div>
        </div>
        <input type="hidden" name="username" value="{{user.username}}" />
        {{> buttons/button_submit content='Eliminar Cuenta'}}
    </form>
</div>
