<div class="delete-account container">
    <h1>Eliminar Cuenta</h1>
    <form action="/deleteAccount" method="post">
        <div>
            {{> inputs/input type='password' name='password' placeholder='Ingrese su contraseña' label='Contraseña' id='password-input'}}
        </div>
        <input type="hidden" name="username" value="{{user.username}}" />
        {{> buttons/button_submit content='Eliminar Cuenta'}}
    </form>
</div>
