<div class="container">
    <div class="profile-data">
        <div class="user-title">
            <div class="user-img-container">
                {{#if (compare user.user_img "No photo")}}
                    <form
                        action="/profile/userImg"
                        method="post"
                        id="add-user-form"
                        enctype="multipart/form-data"
                    >
                        <label class="no-user-img-label" for="no-user-img">Elija
                            una Imagen</label>
                        <input
                            type="file"
                            class="no-user-img"
                            id="no-user-img"
                            name="user_img"
                        />
                    </form>
                {{else}}
                    <img
                        src="/{{user.user_img}}"
                        class="user-img"
                        id="user-img"
                    />
                    <form
                        action="/profile/userImg"
                        method="post"
                        id="add-user-form"
                        enctype="multipart/form-data"
                        class="changeimg-container"
                    >
                        <label class="no-user-img-label" for="no-user-img"><i
                                class="gg-image"
                            ></i></label>
                        <input
                            type="file"
                            class="no-user-img"
                            id="no-user-img"
                            name="user_img"
                        />
                    </form>
                {{/if}}
            </div>
            <h1 class="user-name">{{user.username}}</h1>
        </div>
        <div class="user-data">
            <div class="points">Puntos: {{points}}</div>
        </div>
    </div>
    <hr class="line-div" />
    <div class="profile-options">
        <a href="/profile/change-username" class="button link">Cambiar Nombre de
            Usuario</a>
        <a href="/profile/change-password" class="button link">Cambiar
            Contraseña</a>
        <a href="/profile/delete-account" class="button link danger">Eliminar Cuenta</a>
    </div>
</div>
