<div class="profile container">
    <div class="profile-data">
        <div class="user-title">
            {{> user/avatar change=true userImg=user.user_img}}
            <h1 class="user-name">{{user.username}}</h1>
        </div>
        <div class="user-data">
            <div class="points">Puntos: {{points}}</div>
        </div>
    </div>
    <hr class="line-div" />
    <div class="profile-options">
        {{> buttons/button_link url='/profile/change-username' content='Cambiar Nombre de Usuario'}}
        {{> buttons/button_link url='/profile/change-password' content='Cambiar Contraseña'}}
        {{> buttons/button_link url='/profile/delete-account' content='Eliminar Cuenta'}}
    </div>
</div>
