<div class="profile container">
    <div class="profile-data">
        <h1 class="user-name">{{user.username}}</h1>
        <div class="user-data">
            <div class="tasks-count">Tareas: {{tasksCount}}</div>
            <div class="habits-count">Habitos: {{habitsCount}}</div>
        </div>
    </div>
    <hr class="line-div" />
    <div class="profile-options">
        <a href="/profile/change-username" class="link">Cambiar Nombre de
            Usuario</a>
        <a href="/profile/change-password" class="link">Cambiar Contraseña</a>
        <a href="/profile/delete-account" class="link danger">Eliminar Cuenta</a>
    </div>
</div>
